---
import "../../src/styles/base.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  scrollSmooth?: boolean;
}

const {
  title = "Joanna Wiśniewska",
  description = `Joanna Wiśniewska, English teacher from fifteen years of experience in teaching students of all ages and levels. Teacher's graduate College of Foreign Languages and English Philology. In addition to teaching English, by many for years I worked with the United States and Great Britain implementing hundreds of projects for English-speaking clients.`,
  ogImage = "",
  canonicalURL = Astro.url,
  scrollSmooth = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />


    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />

      <!-- Open Graph / Facebook -->
      <meta property="og:title" content={title} />
      <meta property="og:description" content={description} />
      <meta property="og:url" content={canonicalURL} />
      <meta property="og:image" content={ogImage} />

         <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
  }
</style>
